{% extends 'base.html' %}

{% block title %}Page Not Found | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/404.css') }}">
{% endblock %}

{% block body %}
<div class="container-not-found">
    <h2>404</h2>
    <p>
        {{ _('NotFoundMessage') }}<br>
        {{ _('NotFoundReason') }}<br><br>
        {{ _('CheckURL') }}<br><br>
        {{ _('ContactSupport') }}<br><br>
        {{ _('ThankYou') }}
    </p>
    <a href="{{ url_for('index') }}">{{ _('ReturnHome') }}</a>
</div>
{% endblock %}