{% extends 'base.html' %}

{% block title %}Contact Us | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/new.css') }}">
{% endblock %}

{% block body %}
<div class="form-box text-rtl" style="width: 40%;">
    <h2 class="form-title">{{ _('ContactUs') }}</h2>
    <p class="form-description">{{ _('SendFeedbackComplaints') }}</p>

    {% if msg: %}<div class="form-msg">{{ msg }}</div>{% endif %}

    <form action="{{ url_for('contact') }}" method="post">
        {% if not session["loggedin"] %}
            <div class="input-box">
                <label for="name">{{ _('Name') }}</label>
                <input required type="text" name="name" class="text-rtl">
            </div>
            <div class="input-box">
                <label for="email">{{ _('Email') }}</label>
                <input required type="text" name="email" class="text-rtl">
            </div>
            <div class="input-box">
                <label for="phone">{{ _('Phone') }}</label>
                <input required type="text" name="phone" class="text-rtl">
            </div>
        {% endif %}
        <div class="input-box">
            <label for="subject">{{ _('Subject') }}</label>
            <input required type="text" name="subject" class="text-rtl">
        </div>
        <div class="input-box">
            <label for="message">{{ _('Message') }}</label>
            <textarea rows="6" name="message" class="text-rtl"></textarea>
        </div>
        <input class="submit-btn" type="submit" value="{{ _('Send') }}" style="margin-top: 15px;">
    </form>
</div>
{% endblock %}