{% extends 'base.html' %}

{% block title %}Edit {{ item.title }} | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/edit.css') }}">
<script src="{{ url_for('static', filename='scripts/edit.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="item-box text-rtl">
    {% if not item %}
        <h2 class="no-item">
            {{ _('Select')}}
            <a href="{{ url_for('services') }}">{{ _('Service')}}</a>
            {{ _('Or') }}
            <a href="{{ url_for('departments') }}">{{ _('Department')}}</a>
            {{ _('ToEdit')}}
        </h2>
    {% else %}
        {% with msg = get_flashed_messages() %}
            {% if msg: %}<div class="form-msg">{{ msg[0] }}</div>{% endif %}
        {% endwith %}

        <form id="updateForm" action="{{ url_for('edit', item=item_type, id=item.id) }}" method="post">
            <input type="hidden" name="action" value="update_item" class="text-rtl">
            <div class="input-box">
                <label for="title">{{ _('Title') }}</label>
                <input required type="text" name="title" value="{{ item.title }}" class="text-rtl">
            </div>
            <div class="input-box">
                <label for="description">{{ _('BriefDescription') }}</label>
                <input required type="text" name="description" value="{{ item.description }}" class="text-rtl">
            </div>
            <div class="input-box">
                {% if get_locale() == 'en' %}
                    <label for="readme">{{ _('ExtendedDescription') }} ({{ _('SupportsMarkdown') }})</label>
                {% else %}
                    <label for="readme">({{ _('SupportsMarkdown') }}) {{ _('ExtendedDescription') }}</label>
                {% endif %}
                <textarea rows="6" name="readme" class="text-rtl">{{ item.readme }}</textarea>
            </div>
            <input id="submitButton" class="submit-btn" type="submit" value="{{ _('Update') }}" disabled>
        </form>

        <form action="{{ url_for('edit', item=item_type, id=item.id) }}" method="post" class="delete"
            onsubmit="return confirm('{{ _('AreYouSureDelete') }} {% if get_locale() == 'en' %}{{ item_type }}{% endif %}{{ _('?')}}');">
            <input type="hidden" name="action" value="delete_item">
            <input class="submit-btn danger" type="submit" value="{{ _('Delete') }} {% if get_locale() == 'en' %}{{ item_type.capitalize() }}{% endif %}">
        </form>
    {% endif %}
</div>
{% endblock %}