{% extends 'base.html' %}

{% block title %}Login | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}

{% block body %}
<div class="form-box text-rtl" {% if get_locale() == 'ar' %} dir="rtl" {% endif %}>
    <h2>{{ _('Login') }}</h2>
    {% if msg: %}<div class="form-msg">{{ msg }}</div>{% endif %}
    <form action="{{ url_for('login') }}" method="post">
        <div class="input-box">
            <input required type="text" name="id">
            <label for="id">{{ _('NationalID') }}</label>
        </div>
        <div class="input-box">
            <input required type="password" name="password">
            <label for="password">{{ _('Password')}}</label>
        </div>
        <input class="submit-btn" type="submit" value="{{ _('Login') }}">
    </form>
    <div class="redirect-box">
        {{ _('DontHaveAccount') }} <a href="{{ url_for('register') }}">{{ _('RegisterHere') }}</a>
    </div>
</div>
{% endblock %}