{% extends 'base.html' %}

{% block title %}Order {{ order.id }} | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/order.css') }}">
<script src="{{ url_for('static', filename='scripts/fileSize.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/imageZoom.js') }}" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}
<div class="order-box" {% if get_locale() == 'ar' %} dir="rtl" {% endif %}>
    {% with msg = get_flashed_messages() %}
        {% if msg: %}<div class="order-msg">{{ msg[0] }}</div>{% endif %}
    {% endwith %}

    <div class="order-service">
        {% set service = Service.query.filter_by(id=order.service_id).first() %}
        <h2>
            <b>{{ _('OrderFor') }}</b>
            <a href="{{ url_for('service', id=order.service_id) }}" target="_blank">
                {{ service.title }}
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" {% if get_locale() == 'ar' %} style="transform: scaleX(-1);" {% endif %}>
                    <path fill="currentColor" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"/>
                </svg>
            </a>
        </h2>
        {% set department = Department.query.filter_by(id=order.service_id).first() %}
        {% if department %}
            <h3>
                <a href="{{ url_for('department', id=department.id) }}" target="_blank">
                    {{ department.title }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" {% if get_locale() == 'ar' %} style="transform: scaleX(-1);" {% endif %}>
                        <path fill="currentColor" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"/>
                    </svg>
                </a>
            </h3>
        {% endif %}
    </div>
    <p class="order-id" style="margin-bottom: 25px;"><b>{{ _('ReferenceNumber') }}</b> <span>{{ order.id }}</span></p>
    <p class="attention-msg"><span>*</span> {{ _('ReferenceMessage') }}</p>

    <p>
        <b>{{ _('OrderAt') }}</b>
        {% if get_locale() == 'en' %}
            {{ naturaltime(order.start_date) }}
            -
        {% endif %}
        {% set time = strptime(str(order.start_date), "%Y-%m-%d %H:%M:%S") %}
        {{ time.strftime("%d %b, %Y at %I:%M %p") }}
    </p>
    {% if order.is_done == True %}
        <p>
            <b>{{ _('DoneAt') }}</b>
            {% if get_locale() == 'en' %}
                {{ naturaltime(order.end_date) }}
                -
            {% endif %}
            {% set time = strptime(str(order.end_date), "%Y-%m-%d %H:%M:%S") %}
            {{ time.strftime("%d %b, %Y at %I:%M %p") }}
        </p>
        <p><b>{{ _('Status') }}</b> <span class="status-done">{{ _('Finished') }}</span></p>
    {% else  %}
        <p><b>{{ _('Status') }}</b> <span class="status-active">{{ _('Active') }}</span></p>
    {% endif %}

    {% if order.details %}
        <p class="order-details">
            <b>{{ _('DetailsIncluded') }}</b>
            <br>
            {{ order.details }}
        </p>
    {% endif %}

    {% if order.file_paths %}
        <p class="order-files"><b>{{ _('FilesIncluded') }}</b></p>
        {% for file in order.file_paths.split(',') %}
            <div class="file-container">
                {% if file.endswith(('.jpg', '.jpeg', '.png', '.gif', '.ico', '.avif', '.webp', '.bmp', '.tiff')) %}
                    <div class="image-modal" id="imageModal">
                        <span class="close-button" id="closeButton">&times;</span>
                        <img src="{{ url_for('serve_file', filename=file) }}" class="modal-image" id="modalImage">
                    </div>
                    <div class="image-container">
                        <img src="{{ url_for('serve_file', filename=file) }}" class="order-image">
                        <button class="zoom-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M6.4 19H8q.425 0 .713.288T9 20q0 .425-.288.713T8 21H4q-.425 0-.712-.288T3 20v-4q0-.425.288-.712T4 15q.425 0 .713.288T5 16v1.6l2.4-2.4q.275-.275.7-.275t.7.275q.275.275.275.7t-.275.7zM19 6.4l-2.4 2.4q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7L17.6 5H16q-.425 0-.712-.288T15 4q0-.425.288-.712T16 3h4q.425 0 .713.288T21 4v4q0 .425-.288.713T20 9q-.425 0-.712-.288T19 8z"/>
                            </svg>
                        </button>
                    </div>
                    <a href="{{ url_for('serve_file', filename=file) }}" download>
                        <button class="download-btn">
                            <svg class="download-svg" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="download-icon"></span>
                            <span class="tooltip" data-file="{{ url_for('serve_file', filename=file) }}"></span>
                        </button>
                    </a>
                {% elif file.endswith(('.pdf', '.docx', '.xlxs')) %}
                    <img src="{{ url_for('static', filename='images/placeholders/doc_file.png') }}" class="order-image">
                    <a href="{{ url_for('serve_file', filename=file) }}" download>
                        <button class="download-btn">
                            <svg class="download-svg" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="download-icon"></span>
                            <span class="tooltip" data-file="{{ url_for('serve_file', filename=file) }}"></span>
                        </button>
                    </a>
                {% elif file.endswith(('.txt', '.rtf', 'csv', '.json', '.html', '.md')) %}
                    <img src="{{ url_for('static', filename='images/placeholders/text_file.png') }}" class="order-image">
                    <a href="{{ url_for('serve_file', filename=file) }}" download>
                        <button class="download-btn">
                            <svg class="download-svg" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="download-icon"></span>
                            <span class="tooltip" data-file="{{ url_for('serve_file', filename=file) }}"></span>
                        </button>
                    </a>
                {% elif file.endswith('.mp4') %}
                    <img src="{{ url_for('static', filename='images/placeholders/video_file.png') }}" class="order-image">
                    <a href="{{ url_for('serve_file', filename=file) }}" download>
                        <button class="download-btn">
                            <svg class="download-svg" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="download-icon"></span>
                            <span class="tooltip" data-file="{{ url_for('serve_file', filename=file) }}"></span>
                        </button>
                    </a>
                {% elif file.endswith('.mp3') %}
                    <img src="{{ url_for('static', filename='images/placeholders/audio_file.png') }}" class="order-image">
                    <a href="{{ url_for('serve_file', filename=file) }}" download>
                        <button class="download-btn">
                            <svg class="download-svg" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="download-icon"></span>
                            <span class="tooltip" data-file="{{ url_for('serve_file', filename=file) }}"></span>
                        </button>
                    </a>
                {% elif file.endswith(('.zip', '.rar')) %}
                    <img src="{{ url_for('static', filename='images/placeholders/comp_file.png') }}" class="order-image">
                    <a href="{{ url_for('serve_file', filename=file) }}" download>
                        <button class="download-btn">
                            <svg class="download-svg" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="download-icon"></span>
                            <span class="tooltip" data-file="{{ url_for('serve_file', filename=file) }}"></span>
                        </button>
                    </a>
                {% else %}
                    <img src="{{ url_for('static', filename='images/placeholders/generic_file.png') }}" class="order-image">
                    <a href="{{ url_for('serve_file', filename=file) }}" download>
                        <button class="download-btn">
                            <svg class="download-svg" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="download-icon"></span>
                            <span class="tooltip" data-file="{{ url_for('serve_file', filename=file) }}"></span>
                        </button>
                    </a>
                {% endif %}

                {{ file.split('_', maxsplit=1)[-1] }}
            </div>
        {% endfor %}
        <br>
    {% endif %}

    <form action="{{ url_for('order', id=order.id) }}" method="post"
        onsubmit="return confirm('Are you sure you want to delete this order?');">
        <input type="hidden" name="action" value="delete_order">
        <input class="form-btn danger" type="submit" value="{{ _('DeleteOrder') }}">
    </form>
</div>
{% endblock %}