{% extends 'base.html' %}

{% block title %}User Orders | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/my_orders.css') }}">
{% endblock %}

{% block body %}
<div class="page_details text-rtl">
    <h1 class="page_title">{{ _('UserOrdersTitle') }}</h1>
    <p class="page_description">{{ _('UserOrdersDescription') }}</p>
</div>

{% with msg = get_flashed_messages() %}
    {% if msg: %}
        <div class="order-msg text-rtl">
            {% if get_locale() == 'en' %}
                <span class="attention">*</span>
                {{ msg[0] | safe }}
            {% else %}
                {{ msg[0] | safe }}
                <span class="attention">*</span>
            {% endif %}
        </div>
    {% endif %}
{% endwith %}

{% if orders %}
    <div class="wrapper" style="margin-top: 80px;">
        <ul class="cards">
            {% for order in orders %}
                <a href="{{ url_for('user_order', id=order.id) }}">
                    <li>
                        <div class="order_title">
                            {% set service = Service.query.filter_by(id=order.service_id).first() %}
                            <h3>{{ service.title }}</h3>
                            {% set department = Department.query.filter_by(id=order.service_id).first() %}
                            {% if department %}
                                <h4>{{ department.title }}</h4>
                            {% endif %}
                        </div>
                        <p style="font-size: 15px;"><b>{{ _('ReferenceNumber')}}</b> {{ order.id }}</p>
                        <p>
                            <b>{{ _('OrderAt')}}</b>
                            {% if get_locale() == 'en' %}
                                {{ naturaltime(order.start_date) }}
                                -
                            {% endif %}
                            {% set time = strptime(str(order.start_date), "%Y-%m-%d %H:%M:%S") %}
                            {{ time.strftime("%d %b, %Y at %I:%M %p") }}
                        </p>
                        <p><b>{{ _('Status')}}</b> <span class="status-active">{{ _('Active')}}</span></p>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="wrapper">
        <h2 class="wrapper-title no-orders">{{ _('NoOrdersLeft') }}</h2>
    </div>
{% endif %}
{% endblock %}