{% extends 'base.html' %}

{% block title %}Register | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}

{% block body %}
<div class="form-box text-rtl" {% if get_locale() == 'ar' %} dir="rtl" {% endif %}>
    <h2>{{ _('SignUp') }}</h2>
    {% if msg: %}<div class="form-msg">{{ msg }}</div>{% endif %}
    <form action="{{ url_for('register') }}" method="post">
        <div class="input-box">
            <input required type="text" name="id">
            <label for="id">{{ _('NationalID') }}</label>
        </div>
        <div class="input-box">
            <input required type="text" name="name">
            <label for="name">{{ _('FullName') }}</label>
        </div>
        <div class="input-box">
            <input required type="text" name="phone">
            <label for="phone">{{ _('PhoneNumber') }}</label>
        </div>
        <div class="input-box">
            <input required type="text" name="email">
            <label for="email">{{ _('Email') }}</label>
        </div>
        <div class="input-box">
            <input required type="text" name="address">
            <label for="address">{{ _('Address') }}</label>
        </div>
        <div class="input-box">
            <input required type="password" name="password">
            <label for="password">{{ _('Password') }}</label>
        </div>
        <div class="input-box">
            <input required type="password" name="confirm-password">
            <label for="confirm-password">{{ _('ConfirmPassword') }}</label>
        </div>
        <input class="submit-btn" type="submit" value="{{ _('Register') }}">
    </form>
    <div class="redirect-box">
        {{ _('AlreadyHaveAccount') }} <a href="{{ url_for('login') }}">{{ _('LoginHere') }}</a>
    </div>
</div>
{% endblock %}