{% extends 'base.html' %}

{% block title %}Order {{ order.id }} | GSP{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/order.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_order.css') }}">
{% endblock %}

{% block body %}
<div class="order-box">
    {% with msg = get_flashed_messages() %}
        {% if msg: %}<div class="order-msg">{{ msg[0] }}</div>{% endif %}
    {% endwith %}

    <div class="order-service">
        {% set service = Service.query.filter_by(id=order.service_id).first() %}
        <h2>
            <b>Order For:</b>
            <a href="{{ url_for('service', id=order.service_id) }}" target="_blank">
                {{ service.title }}
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"/>
                </svg>
            </a>
        </h2>
        {% set department = Department.query.filter_by(id=order.service_id).first() %}
        {% if department %}
            <h3>
                <a href="{{ url_for('department', id=department.id) }}" target="_blank">
                    {{ department.title }}
                </a>
            </h3>
        {% endif %}
    </div>
    <p class="order-id"><b>Reference Number:</b> <span>{{ order.id }}</span></p>
    <p class="order-id" style="margin-bottom: 25px;"><b>User National ID:</b> <span>{{ order.user_id }}</span></p>

    <p>
        <b>Order at:</b>
        {{ naturaltime(order.start_date) }}
        -
        {% set time = strptime(str(order.start_date), "%Y-%m-%d %H:%M:%S.%f") %}
        {{ time.strftime("%d %b, %Y at %I:%M %p") }}
    </p>
    {% if order.is_done == True %}
        <p>
            <b>Done at:</b>
            {{ naturaltime(order.end_date) }}
            -
            {% set time = strptime(str(order.end_date), "%Y-%m-%d %H:%M:%S.%f") %}
            {{ time.strftime("%d %b, %Y at %I:%M %p") }}
        </p>
        <p><b>Status:</b> <span class="status-done">Finished</span></p>
    {% else  %}
        <p><b>Status:</b> <span class="status-active">Active</span></p>
    {% endif %}

    {% if order.details %}
        <p class="order-details">
            <b>Details Included:</b>
            <br>
            {{ order.details }}
        </p>
    {% endif %}

    {% if order.file_paths %}
    <p class="order-files">
        <b>Files Included:</b>
        <br>
        {{ order.file_paths }}
    </p>
    {% endif %}

    <form action="{{ url_for('user_order', id=order.id) }}" method="post" class="first-form">
        <input type="hidden" name="action" value="finish_order">
        <input class="form-btn" type="submit" value="Finish Order">
    </form>
    <form action="{{ url_for('user_order', id=order.id) }}" method="post">
        <input type="hidden" name="action" value="delete_order">
        <input class="form-btn danger" type="submit" value="Delete Order">
    </form>
</div>
{% endblock %}