.account-box {
	color: #2d3436;
	border: 1px solid #2d343654;
	margin: auto;
	margin-top: 40px;
	width: 85%;
	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	margin-bottom: 65px;
}

.account-box .account-title {
	margin: 25px auto 10px;
	padding: 0;
	font-size: 34px;
	font-weight: bold;
	color: #2d3436;
}

.account-box .account-description {
	font-size: 18px;
	color: #666;
}

.account-box .profile-url svg {
	vertical-align: text-top;
	transition: all 0.25s ease;
}

.account-box .profile-url:hover svg {
	transform: translateX(3px) translateY(-3px);
}

.account-box .form-msg {
	color: #2d3436;
	font-size: 16px;
	margin-top: 20px;
}

.account-box .content {
	margin-top: 40px;
}

.settings-container {
	display: flex;
	flex-direction: row;
	margin-top: 45px;
	border: 1px solid #2d343654;
	border-radius: 10px;
}

.navigation {
	width: 30%;
	color: #2d3436;
	border: 1px solid #2d343654;
	border-radius: 10px;
	padding-top: 45px;
	font-size: 20px;
	text-transform: uppercase;
}

.navigation ul {
	list-style: none;
	padding: 0;
}

.navigation li {
	padding: 14px;
	padding-inline: 75px;
	border-radius: 5px;
}

.navigation li svg {
	vertical-align: text-top;
	margin-right: 15px;
}

.navigation a {
	text-decoration: none;
	color: #2d3436;
	transition: all 0.2s ease;
}

.navigation a.active,
.navigation a:hover {
	color: #6db6c0;
}

.settings {
	width: 70%;
	padding: 20px;
}

.settings-section {
	padding: 20px;
	margin-bottom: 20px;
	display: none;
}

.settings-section:first-child {
	display: block;
}

.settings h2 {
	margin-bottom: 10px;
	color: #2d3436;
}

.settings p {
	color: #666;
}

.settings-section form {
	margin-top: 35px;
}

.settings-section .input-box {
	position: relative;
}

.settings-section .input-box input {
	width: 100%;
	padding: 5px 0;
	font-size: 14px;
	color: #2d3436;
	margin-top: 5px;
	margin-bottom: 30px;
	border: 1px solid #2d34368c;
	border-radius: 5px;
	outline: none;
	background: transparent;
}

.settings-section .input-box input {
	padding-inline: 10px;
}

.settings-section .input-box input:disabled {
	background-color: #cccccc8c;
}

.settings-section .input-box label {
	font-size: 16px;
	color: #2d3436;
}

.settings-section form .form-btn {
	position: relative;
	display: inline-block;
	padding: 8px 16px;
	color: #6db6c0;
	font-size: 16px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 10px;
	margin-bottom: 5px;
	letter-spacing: 0.2px;
	border: 1px solid #6db6c0;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
}

.settings-section form .form-btn:hover {
	background: #6db6c0;
	color: #fff;
	box-shadow: 0 0 1px #6db6c018, 0 0 15px #6db6c018, 0 0 20px #6db6c018,
		0 0 30px #6db6c018;
}

.settings-section form .form-btn:disabled {
	color: #666;
	border: 1px solid #666;
}

.settings-section form .form-btn:disabled:hover {
	background: transparent;
	cursor: default;
}

.danger {
	color: #d65959 !important;
	border: 1px solid #d65959 !important;
}

.danger:hover {
	background: #d65959 !important;
	color: #fff !important;
}

.settings-section .attention-msg span {
	color: #ff0000;
	cursor: default;
	user-select: none;
}

.settings-section .attention-msg {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 16px;
}
