.text-ltr {
	text-align: left !important;
}

.text-rtl {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.form-box .input-box input {
	text-align: right !important;
}

.form-box .input-box label {
	right: 0;
}

.form-box .input-box input:focus ~ label,
.form-box .input-box input:valid ~ label {
	right: 0;
}

.cards {
	direction: rtl;
}

.cards li {
	order: 0;
}

.searchInput {
	text-align: right;
	padding: 24px 0 24px 26px;
}

.searchButton {
	left: 8px;
}

.header-description {
	text-align: right;
	padding-right: 100px;
	margin-right: 0;
	margin-left: 42%;
}

@media (max-width: 1400px) {
	.header-description {
		margin-left: 35%;
	}
}

.nav-menu {
	padding: 0 !important;
	text-align: right;
}

.nav-menu .nav-link-symbol {
	font-size: 22px;
	color: #6db6c0;
}

.order-box .zoom-button {
	right: 0 !important;
	left: 0 !important;
}
