nav {
	height: 400px;
	background-color: #6db6c0;
}

nav .logo p {
	font-size: 44px;
	color: #ffffffad;
	margin-top: 45px;
}

nav .logo p span {
	font-size: 66px;
	color: #fff;
}

nav li a {
	color: #fff;
}
nav li a:hover {
	color: #ffffffad;
}

nav li a svg {
	fill: #fff;
}

nav li a svg:hover {
	fill: #ffffffad;
}

.vr {
	background: #ffffffad;
}

nav li .register_btn {
	background: #fff;
	color: #6db6c0;
}

.lang-selector {
	color: #fff;
}

.lang-selector:hover {
	color: #ffffffad;
}

.header-description {
	position: absolute;
	color: #ffffffc0;
	font-size: 44px;
	font-weight: bold;
	padding-left: 100px;
	margin-top: -235px;
	margin-right: 42%;
}

@media (max-width: 1400px) {
	.header-description {
		margin-right: 35%;
	}
}

.steps-container {
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	padding-inline: 150px;
	padding-block: 100px;
	background-color: #6db6c094;
}

.steps-container .arrow svg {
	margin-top: 20px;
	margin-left: -80px;
	width: 200px;
	color: #fff;
}

.steps-container .item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.steps-container .icon {
	width: 60px;
	height: 60px;
	color: #333333e1;
}

.steps-container .arrow {
	width: 30px;
	height: auto;
}

.steps-container .text {
	text-align: center;
	font-size: 16px;
	color: #333;
	margin-top: 50px;
	width: 70%;
}

.steps-container .text b {
	font-size: 18px;
}

.steps-container .text br {
	margin-bottom: 10px;
}

.nav-menu {
	margin-top: 90px;
	margin-inline: 100px;
	margin-bottom: 75px;
}

.nav-menu .title {
	margin-bottom: 30px;
	letter-spacing: 0.5px;
	color: #333333e2;
}

.nav-menu .links li a {
	font-weight: bold;
	font-size: 22px;
	color: #6db6c0;
	transition: 0.3s ease;
}

.nav-menu .links li a:hover {
	color: #62a1a8;
}

.nav-menu .links li {
	font-size: 16px;
	margin-bottom: 15px;
}

.list_details {
	margin-top: 40px;
}

.now-title {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.now-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 100px;
	margin-inline: 250px;
}

.now-card {
	width: calc(25% - 20px);
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 14px;
	box-shadow: 10px 10px 40px #c3c3c3, -10px -10px 40px #fdfdfd;
}

.now-card h2 {
	color: #6db6c0;
}
