.order-box form .form-btn {
	position: relative;
	display: inline-block;
	padding: 8px 16px;
	color: #6db6c0;
	font-size: 16px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 10px;
	margin-bottom: 5px;
	letter-spacing: 0.2px;
	border: 1px solid #6db6c0;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
}

.order-box form .form-btn:hover {
	background: #6db6c0;
	color: #fff;
	box-shadow: 0 0 1px #6db6c018, 0 0 15px #6db6c018, 0 0 20px #6db6c018,
		0 0 30px #6db6c018;
}

.danger {
	color: #d65959 !important;
	border: 1px solid #d65959 !important;
}

.danger:hover {
	background: #d65959 !important;
	color: #fff !important;
}

.order-box .first-form {
	margin-top: 35px;
}

.order-msg {
	color: #2d3436;
	font-size: 20px;
	margin-bottom: 40px;
}
